<button class="inline" mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect
    (click)="logOut()">Log-out</button>
<h1>Hangman</h1><br>

<div class="center">
    <p>level: {{level}}</p>
    <p class="inline">the using char:</p>
    <p class="inline" *ngFor="let letter of selectedLettersArray"> ,{{letter}} </p>
    <p>Wrong Guesses :{{index}} of 6</p>
</div>

<img src="./assets/images/{{image}}">
<p class="pArr" *ngFor='let char of arrayWord'>{{char}} </p><br>
<label>{{massege}}</label>
<div class="keyboard">
    <button mdbBtn color="primary" *ngFor='let char of keyBoard' (click)="CheckLetter(char)"
        class="keyboardLetter">{{char}}</button>
</div>

<div mdbModal #Modal1="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="centerDiv" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="Modal1.hide()"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title w-100" id="myModalLabel"> perfect!! <br> Your score is {{grade}}</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close"
                    (click)="Modal1.hide()" mdbWavesEffect (click)="logOut()">Get out of the game</button>
                <button type="button" mdbBtn color="primary" class=" waves-light" mdbWavesEffect
                    (click)="newGame()">play again</button>
                <button type="button" mdbBtn color="primary" class=" waves-light" mdbWavesEffect
                    (click)="nextLevel()">next level</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #Modal2="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="centerDiv" class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Oops you ran out of guesses... <br> your points:
                    {{grade}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Modal2.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer" class="centerDiv">
                <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="newGame()">
                    play again</button>
                <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="logOut()">
                    Get out of the game</button>
            </div>
        </div>
    </div>
</div>