    .inline{
    display: inline;}
    .center{
    width: 400px;
    margin: auto;}
    .centerDiv{
    text-align: center;}
    .marginDiv{
    margin: auto;}
    h1{
    text-align: center;
    color: blue;
    font-size: 50px;}
    img{
    margin-left: 45%; width: 140px;}
    .pArr{
    display:inline;margin: auto; font-size:20px;margin-top: 300px;}
    label{
    margin-left: 45%;}
    .keyboard{
    width: 1000px; margin: auto;}
    .keyboardLetter{
    width: 20px;height: 40px; margin:2px; background-color:teal; color:seashell}