<div *ngIf="isSignedIn ==false">
  <h1 class="h1 text-primary fixed-top div_center">
    Hangman-game
  </h1>

  <div class="widthAndTop">
    <div class="btn-group widthAndMargin" role="group" aria-label="Basic example">
      <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect
        (click)="showSignUp()">signup</button>
      <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect (click)="showSignIn()">sign
        in</button>
    </div>

    <div class="text-center border border-light p-5" *ngIf="signUp==true ">
      <p class="h4 mb-4">sign UP</p>
      <!-- Email -->
      <input type="text" class="form-control mb-4" placeholder="mail" [(ngModel)]="email">
      <!-- Name -->
      <input type="text" class="form-control mb-4" placeholder="password" [(ngModel)]="pasword">
      <button mdbBtn color="info" (click)="onSignUp()" block="true" type="button">Sign up</button>
    </div>
    <div class="text-center border border-light p-5" *ngIf="signIn==true && isSignedIn==false">
      <p class="h4 mb-4">sign In</p>
      <!-- Email -->
      <input type="text" class="form-control mb-4" placeholder="mail" [(ngModel)]="email">
      <!-- Name -->
      <input type="text" class="form-control mb-4" placeholder="password" [(ngModel)]="pasword">
      <button mdbBtn color="info" (click)="onSignIn()" block="true" type="button">Sign In</button>
    </div>
  </div>

  <footer class="page-footer font-small blue fixed-bottom">
    <div class="footer-copyright text-center py-3">© achinoam.ben.rahamim@gmail.com
    </div>
  </footer>
</div>

<app-hangman *ngIf="isSignedIn==true" (isLogout)="handelLogOut()"></app-hangman>